@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "partials/forms";

body{
  padding-top: 70px;
}

.form-control{
  margin-bottom: 15px;
}

.form-control {
  height: 39px;
}

.mainpanel{
  margin-left: 220px;
  padding: 20px;
  background: #3399FF;
  border-radius: 5px;
}

.leftpanel{
  width: 215px;
  position: fixed;
  background: #fff;
}

.contentpanel{
  background: #fff;
  border-radius: 5px;
}

